# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=deploy

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback

# Admin GitHub usernames (comma separated)
ADMIN_GITHUB_IDS=your_github_username1,your_github_username2

FRONTEND_URL=http://localhost:5173

# JWT Secret
JWT_SECRET=your_jwt_secret_key